* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", serif;
  color: #573A37;
  font-size: 16px;
}

body {
  background-image: linear-gradient(rgba(87, 56, 36, 0.5), rgba(87, 56, 36, 0.5)), url(assets/bg-image.jpg);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  padding: 24px;
  width: 800px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto 28px;
}

main {
  padding: 24px;

}

p + p {
  margin-top: 12px;
}

section + section {
  margin-top: 24px;
}

img {
  border-radius: 16px;
}

h1{
  font-size: 40px;
  line-height: 140%;
}

h2{
  font-size: 24px;
}

h1, h2 {
  color: #291B1A;
  margin-bottom: 4px;
  line-height: 150%;
}

ul {
  padding-left: 24px;
}

footer {
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  vertical-align: middle;
}